PTUD_N11_Detai4_QuanLyQuanKaraokeClient/target/classes/App/*
PTUD_N11_Detai4_QuanLyQuanKaraokeClient/target/classes/Event_Handlers/*
PTUD_N11_Detai4_QuanLyQuanKaraokeClient/target/classes/UI/*
PTUD_N11_Detai4_QuanLyQuanKaraokeClient/target/classes/UI/PanelCustom/*
PTUD_N11_Detai4_QuanLyQuanKaraokeClient/target/classes/bill/*
PTUD_N11_Detai4_QuanLyQuanKaraokeClient/target/classes/fonts/*
PTUD_N11_Detai4_QuanLyQuanKaraokeClient/target/classes/images/*
PTUD_N11_Detai4_QuanLyQuanKaraokeServer/target/classes/App/*
PTUD_N11_Detai4_QuanLyQuanKaraokeServer/target/classes/DAO/*
PTUD_N11_Detai4_QuanLyQuanKaraokeServer/target/classes/DAO/Impl/*
PTUD_N11_Detai4_QuanLyQuanKaraokeServer/target/classes/META-INF/*
PTUD_N11_Detai4_QuanLyQuanKaraokeServer/target/classes/Util/*
PTUD_N11_Detai4_QuanLyQuanKaraokeServer/target/classes/database/*
PTUD_N11_Detai4_QuanLyQuanKaraokeServer/target/classes/entity/*
target/classes/*
target/classes/DAO/*
target/classes/Event_Handlers/*
target/classes/UI/*
target/classes/UI/PanelCustom/*
target/classes/connectDB/*
target/classes/database/*
target/classes/entity/*
target/classes/fonts/*
target/classes/images/*